$c_grey: #ECEEF0;
$c_white: #ffffff;
$c_accent: #26547C;
$c_red: #EF476F;
$c_orange: #FFD166;
$c_primary: #1F1A2F;

$sp_lg: 32px;
$sp_md: 16px;
$sp_sm: 8px;

$br_md: 8px;

$bs_md: 0px 0px 3px 2px rgba($c_primary, 0.1);