$c_grey: #D7D8DE;
$c_grey--light: rgb(251, 248, 248);
$c_white: #ffffff;
$c_accent: #26547C;
$c_red: #EF476F;
$c_orange: #FFD166;
$c_primary: #1F1A2F;

$sp_lg: 32px;
$sp_md: 16px;
$sp_sm: 8px;

$br_md: 0;

$bs_md: 0px 0px 3px 2px rgba($c_primary, 0.1);
$bs_lt: 0px 0px 3px 2px rgba($c_primary, 0.05);

.button {
  border: none;
  border-radius: $br_md;
  padding: 10px $sp_md;
}

.input {
  border: 2px solid $c_grey;
  border-radius: $br_md;
  padding: $sp_sm $sp_md;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}